.button{
    font-family: 'Satoshi';
    padding: 0.9rem 1.2rem;
    background-color: var(--color1);
    color: #ffffff;
    font-size: 16px;
    border-radius: 62px;
    border: 0;
    cursor: pointer;
    
}