.Filters{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    width: 18.1rem;
    align-items: center;
    border: 1px solid #F3F3F3;
    border-radius: 1.2rem;

    h2{
        font-size: 1.2rem;
        font-family: 'Satoshi';
        line-height: 1.2
    }

    p{
        font-size: 1rem;
        font-family: 'Satoshi';
        color: #969696;
        line-height: 1.1
    }

    li{
        margin-bottom: 1.2rem;
    }

    div{
        width: 15.4rem;
    }

    ul{
        width: 15.4rem;
    }

    .filters{
        display: flex;
        justify-content: space-between;
        margin-top: 1.2rem;
        margin-bottom: 1.5rem;
    }
    
    button{
        padding: 0.9rem 5.4rem;
        margin-bottom: 1.8rem;
    }
}