.sign{
    width: 100%;
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    
    font-size: 14px;

    p{
        
        span{
            text-decoration: underline;
            background-color: transparent;
            color: var(--color2);

            cursor: pointer;
        }
    }
}