.dressStyle{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.2rem;
    }
    
    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p{
            cursor: pointer;
        }

        .rotated {
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }

        .selected + .rotated {
            transform: rotate(270deg);
            transition: transform 0.3s ease;
        }
    }
}